/*local font*/

@font-face {
  font-family: "BBBB";
  src: url("../font/Bauer Bodoni Bold BT.ttf");
}

/*gobal style*/

html {
  box-sizing: border-box;
  overflow: auto;
}

*, *.before, *.after {
  box-sizing: inherit;
}

body {  
  font-family: "Open Sans", Arial, sans-serif;
}


/*banner*/

#banner {
  margin-top: 30px;
  margin-left: 260px;
  padding-left: 30px;
  display: inline-block;
  min-width: 360px;
}

#logo_link {
  text-decoration: none;
}

#logo_cmu_1 {
  font-size: 20pt;
  padding-left: 15px;
  margin-top: 0;
  padding-top: 20px;
  background-color: white;
}

#logo_cmu_2 {
  font-size: 20pt;
  padding-left: 15px;
  margin-top: -65px;
  background-color: white; 
}

#course_title_1 {
  font-size: 16pt;
  padding-left: 15px;
  margin-top: -50px;
  background-color: white;
  color: #4d4d4d;
}

#course_title_2 {
  font-size: 16pt;
  padding-left: 15px;
  margin-top: -55px;
  background-color: white;
  color: #4d4d4d;
}

#course_title_3 {
  font-size: 16pt;
  padding-left: 15px;
  padding-bottom: 20px;
  margin-top: -55px;
  margin-bottom: 0;
  background-color: white;
  color: #4d4d4d;
}


#banner_m {
  display: none;
}


.project_name {
  font-size: 20pt;
  color: #4d4d4d;
}

/*sidebar*/


.w3-sidebar {
  display: inline-block;
  background-color: #990000;
  width: 183px;
  overflow-x: hidden;
  overflow-y: auto;
}


.w3-button {
  transition: 0.3s;
  color: white;
}

/*main content*/

main {
  margin-left: 260px;
  margin-right: 12%;
  padding-left: 30px;
  max-width: 960px;
  min-width: 360px;
}

main section {  
   margin-bottom: 40px;
}

main section p {
   text-indent: 40px;
}

#PreviewFrame3D {
  width: 100%;
  height: 320px;
}

/*footer*/

footer {
  margin: 0 40px 0 260px;
  text-align: left;
}

/*mid-size screen/tablet*/
@media (min-width: 641px) and (max-width: 960px) {
  main {
    margin-left: 183px;
    margin-right: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  #banner {
    margin-left: 183px;
    padding-left: 30px;
    display: inline-block;
  }
}


/*mobile platform*/
@media (max-width: 640px) {
  .w3-sidebar {
    display: none;
  }

  #banner {
    margin-left: 0;
    margin-top: 80px;
    padding-right: 30px;
  }

  #banner_m {
    display: block;
    overflow: hidden;
    padding-left: 30px;
    font-size: 16pt;
    position: fixed;
    background-color: #990000;
  }

  #banner_m a {
    text-decoration: none;
  }

  #logo_cmu_m {
    font-size: 18pt;
    margin-top: 3px;
    margin-bottom: 0;
    color: white;
  }

  #logo_dprt_m {
    font-size: 12pt;
    margin-top: -5px;
    margin-bottom: 5px;
    color:white;
  }

  main {
    margin-left: 0;
    margin-right: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  footer {
    margin-left: 40px;
    text-align: left;
  }
  
}